# Environment variables
PORT=3000

# Postgres DB URL automatically handled by Docker Compose, but here is the format
DATABASE_URL="postgresql://kodigo_user:kodigo_password@localhost:5432/kodigo_issues?schema=public"
